* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* MENU LATERAL */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  /* fundo temporário para debug */
  background-color: #333;
  background-image: url("../img/menu-vertical.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.menu-btn {
  flex: 1;
  width: 100%;

  /* debug visual (REMOVER depois) */
  outline: 1px solid rgba(255,255,255,0.3);
}

/* BANNER SUPERIOR */
#topbar {
  position: fixed;
  top: 0;
  left: 300px;
  height: 120px;
  width: calc(100% - 300px);
  display: flex;

  /* fundo temporário para debug */
  background: #555;
}

.top-btn {
  flex: 1;
  height: 100%;

  /* debug visual (REMOVER depois) */
  outline: 1px solid rgba(255,255,255,0.3);
}

/* CONTEÚDO */
#content {
  position: absolute;
  top: 120px;
  left: 300px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background: #f4f4f4;
}


#content section {
  margin-bottom: 30px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

