* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden; /* remove scroll geral */
  font-family: sans-serif;
}

/* MENU LATERAL */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100vh;
  background: url("../img/menu-vertical.jpg") no-repeat center top;
  background-size: cover;
}

.menu-btn {
  display: block;
  width: 100%;
  height: 33.33%; /* divide imagem em áreas clicáveis */
}

/* BANNER SUPERIOR */
#topbar {
  position: fixed;
  top: 0;
  left: 120px;
  height: 120px;
  width: calc(100% - 120px);
  background: url("../img/banner-top.jpg") no-repeat center;
  background-size: cover;
}

.top-btn {
  display: inline-block;
  width: 25%;
  height: 100%;
}

/* CONTEÚDO */
#content {
  position: absolute;
  top: 120px;
  left: 120px;
  width: calc(100% - 120px);
  height: calc(100% - 120px);
  overflow-y: auto;   /* único scroll */
  overflow-x: hidden;
  padding: 20px;
}

/* CONTEÚDO INTERNO */
#content section {
  margin-bottom: 40px;
}
